.App {
  text-align: center;

}
h1 {
  font-size: 24px;
  text-align: center;
}
.todo-item {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: .5rem 1rem .5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
  margin: 0 auto 10px;
  max-width: 30%;
}
.todo-item__checkbox-item {
  margin-right: 1rem;
  cursor: pointer;
}
.todo-item__btn {
  font-size: .7rem;
  margin-right: 1rem;
  border: .15rem solid gray;
  border-radius: 30%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
  cursor: pointer;
}
.todo-item__btn:active {
  background: rgba(0, 0, 0, 0.781);
  color: rgba(134, 134, 134, 0.781);
}

.name {
  font-size: 1rem;
  margin-left: 10px;
  max-width: 50%;
}

input[type=text]{
  border-radius: 30px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
  display: block;
  max-width: 60%;
  margin: 30px auto 20px;
  padding: 5px 10px;
  outline: none;
  border: none;
  font-size: 12px;
}